<h1>A vous de jouer</h1>
<div *ngIf="combatInfo1[0]" class="col-left">
  <p>{{combatInfo1[0].pvActuel}} / {{combatInfo1[0].pokemon.pv * 4}}</p>
  <app-pokemon [team]="combatInfo1[0].equipe"
             (clickCapacite1)="clickCapa($event, 1)"
             (clickCapacite2)="clickCapa($event, 1)">
  </app-pokemon>
  <button mat-raised-button (click)="toggleChangePokemon1()">Changer de pokemon</button>
  <div *ngIf="changePokemon1">
    <img src="../../../assets/pokeImg/{{infoCbt.pokemon.nom}}.png" *ngFor="let infoCbt of combatInfo1 | slice:1" (click)="remplacerPokemon1(infoCbt)" style="height: 200px">
  </div>
</div>
<div *ngIf="!equipe1Survi" class="col-left">
  <h1>Le joueur 2 : {{pseudo2}} vient de gagner!</h1>
  <br/>
  <button mat-raised-button (click)="refresh()">Nouveau duel</button>
</div>
<div *ngIf="combatInfo2[0]" class="col-right">
    <p>{{combatInfo2[0].pvActuel}} / {{combatInfo2[0].pokemon.pv * 4}}</p>
    <app-pokemon [team]="combatInfo2[0].equipe"
               (clickCapacite1)="clickCapa($event, 2)"
               (clickCapacite2)="clickCapa($event, 2)">
    </app-pokemon>
    <button mat-raised-button (click)="toggleChangePokemon2()">Changer de pokemon</button>
  <div *ngIf="changePokemon2">
    <img src="../../../assets/pokeImg/{{infoCbt.pokemon.nom}}.png" *ngFor="let infoCbt of combatInfo2 | slice:1" (click)="remplacerPokemon2(infoCbt)" style="height: 200px">
  </div>
</div>
<div *ngIf="!equipe2Survi" class="col-right">
  <h1>Le joueur 1 : {{pseudo1}} vient de gagner!</h1>
  <br/>
  <button mat-raised-button (click)="refresh()">Nouveau duel</button>
</div>