h1{
    text-align: center;
    padding: 10px 0 10px 0;
    font-size: 40px;
    font-weight: bold;
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.col-left {
    float: left;
    width: 800px;
    height: 600px;
    padding: 20px;
    margin-top: 5%;
    margin-left: -325px;
    background: rgba(255, 255, 255, 0.589);
}
.col-right {
    float: right;
    width: 800px;
    height: 600px;
    padding: 20px;
    margin-top: 5%;
    margin-right: -325px;
    background:  rgba(255, 255, 255, 0.589);;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}