h1{
    text-align: center;
    padding: 10px 0 10px 0;
    font-size: 40px;
    font-weight: bold;
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.col-left {
    float: left;
    width: 800px;
    height: 600px;
    padding: 20px;
    margin-top: 5%;
    margin-left: -325px;
    background: rgba(255, 255, 255, 0.589);
}
.col-right {
    float: right;
    width: 800px;
    height: 600px;
    padding: 20px;
    margin-top: 5%;
    margin-right: -325px;
    background:  rgba(255, 255, 255, 0.589);;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.progress{
    font-size: 1.75rem;
    margin-bottom: 5px;
    border: 2px solid #000;
}

.progress::before{
    content: 'PV';
    font-size: 0.55em;
    margin: -3px 5px 5px 5px;
    font-weight: bold;
}

.health-bar > p{
    font-weight: bold;
}

.health-bar .pv {
    margin-left: 29%;
}

.success{
    background-color: green;
}

.warning {
    background-color: orange;
}

.danger{
    background-color: red;
}
