<mat-horizontal-stepper [linear]="true">
  <mat-step label="Equipe">
    <div *ngIf="nomEquipeList.length > 0">
      <p>Veux tu ajouter un pokémon à une équipe déjà existante? Dans ce cas tu peux renseigner le nom de l'équipe ci-dessous.</p>
      <mat-form-field appearance="fill">
        <mat-label>Nom de l'équipe</mat-label>
        <mat-select [(value)]="selectedEquipe1">
            <mat-option value="{{nomEquipe}}" *ngFor="let nomEquipe of nomEquipeList">{{nomEquipe}}</mat-option>
        </mat-select>
      </mat-form-field>
      <p>Si tu souhaites créer une nouvelle équipe par contre, il faut renseigner le champs ci-dessous.</p>
    </div>
    <div *ngIf="nomEquipeList.length == 0">
      <p>Veuillez indiquer le nom de l'équipe que vous souhaitez créer ci-dessous.</p>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Nom de l'équipe</mat-label>
      <input matInput [(ngModel)]="selectedEquipe2">
    </mat-form-field>
  </mat-step>
  <mat-step label="Pokemon">
    <mat-form-field>
      <mat-label>Filtre</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Tortank">
    </mat-form-field>
    
    <div style="overflow:scroll; height:525px;">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width: 100%">
        <!-- Colonne Id -->
        <ng-container matColumnDef="idPokemon">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let pokemon"><img src="../../assets/pokeImg/{{pokemon.nom}}.png" style="width: 8em;"></td>
        </ng-container>
  
        <!-- Colonne Nom -->
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
          <td mat-cell *matCellDef="let pokemon"> {{pokemon.nom}} </td>
        </ng-container>
  
        <!-- Colonne Type -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
          <td mat-cell *matCellDef="let pokemon"> {{pokemon.type}} </td>
        </ng-container>
  
        <!-- Colonne PV -->
        <ng-container matColumnDef="pv">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> PV </th>
          <td mat-cell *matCellDef="let pokemon"> {{pokemon.pv * 4}} </td>
        </ng-container>
  
        <!-- Colonne Attaque -->
        <ng-container matColumnDef="atk">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Atk </th>
          <td mat-cell *matCellDef="let pokemon"> {{pokemon.atk}} </td>
        </ng-container>
  
        <!-- Colonne Défense -->
        <ng-container matColumnDef="def">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Def </th>
          <td mat-cell *matCellDef="let pokemon"> {{pokemon.def}} </td>
        </ng-container>
  
        <!-- Colonne Vitesse -->
        <ng-container matColumnDef="vit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Vit </th>
          <td mat-cell *matCellDef="let pokemon"> {{pokemon.vit}} </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
            [ngClass]="{'active': selectedPoke === row.idPokemon}"
            (click)="selectPoke(row.idPokemon)"></tr>
      </table>
    </div>
  </mat-step>
  <mat-step label="Capacité">
    Quelle capacité ton pokemon devrait il posséder?
    <mat-grid-list cols="2" rowHeight="1:1">
      <mat-grid-tile>
        <app-add-abilities [initialValue]="abilityInitValue"
                           (detailCapacite)="changeCapacite1($event)"></app-add-abilities>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-add-abilities [initialValue]="abilityInitValue"
                           (detailCapacite)="changeCapacite2($event)"></app-add-abilities>
      </mat-grid-tile>
    </mat-grid-list>
    <button mat-raised-button (click)="createAbilities()">Créer</button>
  </mat-step>
</mat-horizontal-stepper>

