<div *ngIf="!vueCombat">
  <h1>Bienvenue dans l'arène !</h1>
  <div class="col-left" *ngIf="isLoggedIn">
    <p>Dresseur connecté :</p>
    <div class="username-d1">{{ username }}</div>
    <p>Choisissez une de vos équipe :</p>
    <mat-form-field appearance="fill">
      <mat-label>Choix de l'equipe</mat-label>
      <mat-select [(value)]="selectedTeamName1" (selectionChange)="updateSelectedEquipe1()">
          <mat-option value="{{nomEquipe}}" *ngFor="let nomEquipe of nomEquipeList">{{nomEquipe}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-right" >
    <p>Choisissez un adversaire :</p>
    <mat-form-field appearance="fill">
      <mat-label>Choix du dresseur</mat-label>
      <mat-select [(value)]="selectedDresseur" (selectionChange)='getDresseurId()'>
          <mat-option value="{{username}}" *ngFor="let username of nomDresseurList" >{{username}}</mat-option>
      </mat-select>
    </mat-form-field>
    <p>Equipe disponible pour ce Dresseur :</p>
    <mat-form-field appearance="fill">
      <mat-label>Choix de l'equipe</mat-label>
      <mat-select [(value)]="selectedTeamName2" (selectionChange)="updateSelectedEquipe2()">
          <mat-option #equipeD2 value="{{nomEquipe}}" *ngFor="let nomEquipe of nomEquipeListD2">{{nomEquipe}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="btn-arene">
    <button mat-raised-button (click)="changeVue()"class="bouton-arene">Let's battle !</button>
  </div>
</div>
<div *ngIf="vueCombat">
  <app-versus [pseudo1]="username" [equipe1]="selectedEquipe1" [pseudo2]="selectedDresseur" [equipe2]="selectedEquipe2"></app-versus>
</div>
