<mat-form-field appearance="fill">
  <mat-label>Nom de capacité</mat-label>
  <input matInput [(ngModel)]="selectedNom" (input)="onFieldChange()">
</mat-form-field>
<br>

<mat-form-field appearance="fill">
  <mat-label>Type</mat-label>
  <mat-select [(value)]="selectedType" (selectionChange)="onFieldChange()">
      <mat-option value="Normal">Normal</mat-option>
      <mat-option value="Eau">Eau</mat-option>
      <mat-option value="Feu">Feu</mat-option>
      <mat-option value="Plante">Plante</mat-option>
  </mat-select>
</mat-form-field>
<br/>

<p>Puissance: {{puissance}}</p>
<mat-slider thumbLabel step="1" tickInterval="25"
            [min]="MIN_PUISSANCE" [max]="MAX_PUISSANCE"
            [(ngModel)]="puissance" (change)="onPuissanceChange($event)"
            class="sliderPuissance"></mat-slider>
<br/>

<p>Précision: {{precision}}</p>
<mat-slider thumbLabel step="1" tickInterval="25"
            [min]="MIN_PRECISION" [max]="MAX_PRECISION"
            [(ngModel)]="precision" (change)="onPrecisionChange($event)"
            class="sliderPrecision"></mat-slider>
